# This is the environmental records for Jira credentials
# Variables should be changed for you and the sample from
# the file name removed (e.g. renamed to .env)

JIRA_USER=JIRA_USERNAME
JIRA_PASS=JIRA_PASSWORD

# Test_hook sends the output to personal slack channel

TEST_HOOK=https://hooks.slack.com/services/{+SOMETHING SLACK GAVE YOU}

# Prod_hook sends the output to a group chat

PROD_HOOK=https://hooks.slack.com/services/{+SOMETHING SLACK GAVE YOU + SHOULD BE DIFFERENT TO TEST}
